@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        <img src="~/images/squad.png" height="300px"/>
    </p>
    <p>
        Welcome to ASAP Airsoft! This website features an assortment of options. From shopping to fields and their rules. All of that info is located here!
    </p>
</div>
